{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-3" style="margin-bottom:100px;padding:110px;">
    Name of the customer:{{user}}
    {% for i in o %}
    <div class="row">
    <div class="col-sm-4">
         <img height="250px" width="250px" src="{{i.product.image.url}}">
    </div>
        <div class="col-sm-6">
            <p>address:{{i.address}}</p>
            <p>Customer phone:{{i.phone}}</p>
            <p>Product name:{{i.product.name}}</p>
            <p>Product price:{{i.product.price}}</p>
            <p>Order status:{{i.date_order}}</p>
            <p>Delivery Status:{{i.delivery_status}}</p>

         <br>
        </div>
        {% endfor %}
</div>
</div>
{% endblock %}